<h1>Chanimal Schipping</h1>
<form action="/parcel">
  <div class="form-group">

    <label for="width">Enter width:</label>
    <input id="width" name="width" class="form-control" type="text">

    <label for="length">Enter length:</label>
    <input id="length" name="length" class="form-control" type="text">

    <label for="height">Enter height:</label>
    <input id="height" name="height" class="form-control" type="text">

    <label for="weight">Enter weight:</label>
    <input id="weight" name="weight" class="form-control" type="text">

    <label for="method">Choose Schipping Method:</label>
    <select class="form-control" id="method">
      <option>Cheetah</option>
      <option>Chihuahua</option>
      <option>Chicken</option>
    </select>
</div>
<button type="submit" class="btn">Count</button>
</form>
